.wrapperTextField {
	input {
		padding-right: 2rem;
	}

	button {
		cursor: pointer;
		background: none;
		border: none;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 0.5rem;
		margin-top: 0.7rem;
		.iconShowPassword {
			width: 1.5rem;
			height: 1.1rem;
		}
		.iconHiddenPassword {
			width: 1.5rem;
			height: 1.1rem;
		}

		svg:hover {
			path {
				width: 1.7rem;
				filter: brightness(85%);
			}
		}
	}
}
