.background {
	border-radius: 12px;
	width: 2.8rem;
	height: 1.4rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 0.2rem;
	position: relative;
	transition: 200ms ease;

	&:hover {
		filter: brightness(90%);
	}

	svg {
		position: absolute;
		width: 18px;
		height: 18px;
	}

	&.switchDark {
		//background: var(--background-app);
		background: var(--color-light-blue);
		.moonIcon {
			left: 0;
			margin-left: 0.3rem;
			transition: 600ms ease;
			fill-opacity: 100%;
		}
		.sunIcon {
			right: 0;
			margin-right: 0.3rem;
			transition: 600ms ease;
			fill-opacity: 0%;
			transform: translateX(-1rem);
		}
	}

	&.switchWhite {
		background: var(--color-light-blue);
		.moonIcon {
			left: 0;
			margin-left: 0.3rem;
			transition: 600ms ease;
			fill-opacity: 0%;
			transform: translateX(1rem);
		}
		.sunIcon {
			right: 0;
			margin-right: 0.3rem;
			transition: 600ms ease;
			fill-opacity: 100%;
		}
	}
}
