.iconPassword{
    position: absolute;
    right: 10px;
    width: 1.3rem;
    height: 1.3em;
    cursor: pointer;

    path{
        transition: all 400ms ease;
        fill: var(--color-text);
    }

    &.dark{
        path{
            fill: var(--color-text);
        }
    }
}