.svgIcon{
    width: 2rem;
    height: 2rem;
    .pathIcon{
        stroke: var(--color-invert-primary);
    }
}

.svgExit{
    margin-right: 0.3rem;
    .pathExit{
        stroke: var(--color-red);
    }    
}
