.cardMonitoring{
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    border: 1px solid var(--color-light-border);
    margin: 0rem 1rem;

    .headerCardMonitoring{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .textDescriptionCardMonitoring{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            font-weight: 400;
        }
        .iconButtonCardMonitoring{

        }
    }
    .footerCardMonitoring{
        padding: 1rem;
        border-top: 1px solid var(--color-light-border);
        background: var(--color-opacity-blue);
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .wrapperAllIconsCardMonitoring{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 65%;
            .wrapperIconCardMonitoring{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                font-size: 1rem;
                font-weight: 400;
                align-items: center;
            }
        }

        .wrapperStatusCardMonitoring{
            width: 35%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            .statusCardMonitoring{
                padding: 0.4rem 1rem;
                border: 1px solid black;
                border-radius: 10px;
            }
        }
    }
}

.wrapperDescriptionMonitoring{
    margin-top: 0.5rem;
}

