.buttonClassic {
	padding: 0.6rem;
	font-size: 0.9rem;
	cursor: pointer;
	width: 100%;
	border: none;
	border-radius: 12px;
	background-color: var(--color-light-blue);
	color: var(--color-white);
	transition: 300ms ease;

	&:hover {
		filter: brightness(96%);
	}
}
