.textfield{
    border-radius: 16px;
    border: 1px solid var(--color-border-textfield);
    outline: none;
    background-color: var(--backround-textfield);
    font-size: 0.9rem;
    padding: 0.6rem;
    color: var(--color-text);
    width: 100%;
}


.wrapperTextfield{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
