.button {
	padding: 0.5rem;
	font-size: 0.9rem;
	cursor: pointer;
	width: 100%;

	border: none;

	&.classic {
		border-radius: 12px;
		background-color: var(--color-light-blue);
		color: var(--color-white);
	}

	&.link {
		color: var(--color-text-invert);
		background: none;
		text-decoration: underline;
		color: var(--color-text);
	}
}
